%li
	-#%img{ :src => "/imgs/gifts/cocktail.jpg", :width => 70, :height => 70 }
	%div.gift-desc
		%div.gift-name= gift.name
		%div.gift-info= gift.info
	%div.gift-cost
		%div.gift-price= "&pound;" + (gift.price > 0 ? gift.price.to_i.to_s : "?")
		%div.gift-form
			%form{ :action => "https://www.paypal.com/cgi-bin/webscr", :method => "post" }
				%input{ :type => "hidden", :name => "cmd",           :value => "_donations" }
				%input{ :type => "hidden", :name => "business",      :value => "FDVH9KBXBCHNW" }
				%input{ :type => "hidden", :name => "amount",        :value => "#{gift.price.to_i.to_s}" }
				%input{ :type => "hidden", :name => "item_name",     :value => "Gift for Debbie and Tim's wedding: #{gift.name}" }
				%input{ :type => "hidden", :name => "currency_code", :value => "GBP" }
				%input{ :type => "hidden", :name => "no_shipping",   :value => "1" }
				%input{ :type => "hidden", :name => "cn",            :value => "Leave a message for Debbie and Tim" }
				%input{ :type => "hidden", :name => "return",        :value => "http://the.bla.ir/s/gifts/thanks" }
				%input{ :type => "hidden", :name => "cancel_return", :value => "http://the.bla.ir/s/gifts" }
				%input.submit{ :type => "submit", :value => "Give this" }
	%br{ :style => "clear: both" }
